<div class="lista-veiculos">
  <app-loading [isLoading]="(isLoading$ | async) ?? false"></app-loading>
  <div *ngIf="isLoaded">
    <table class="tabela-generica" *ngIf="veiculos.length != 0; else semVeiculos" >
      <thead>
        <tr>
          <th>Placa</th>
          <th>Modelo</th>
          <th>Montadora</th>
          <th>Registro</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of veiculos">
          <td>{{ v.placa }}</td>
          <td>{{ v.modelo }}</td>
          <td>{{ v.montadora }}</td>
          <td>{{ v.dtRegistro | date : "dd/MM/yyyy" }}</td>
          <td>
            <button class="btn btn-primary btn-acao btn-sm" (click)="navEditarVeiculo(v.id)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #semVeiculos>
      <p>Não há veículos cadastrados até o momento.</p>
    </ng-template>

    <div class="paginacao" *ngIf="paginar && isLoaded">
      <app-paginacao [qtdPaginas]="qtdPaginas" [paginaAtual]="paginaAtual" (paginar)="paginarRegistros($event)"></app-paginacao>
    </div>
  </div>
</div>
